body {
    margin: 0;
    padding: 0;
    background: black;
    /*background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);*/
    /*background: linear-gradient(to right, #c9d6ff, #e2e2e2);*/
    /*background-color: black;
    background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
    /*background: url("https://cdn.discordapp.com/attachments/268727299082289162/390951863547330580/Renewable_energy_sources.jpg");
    background-size: cover;*/
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    max-width: 98%;
    color: white !important;
}

a {
    color: lightgreen;
}

header {
    background: url("bannier4.jpg");
    background-size: cover;
    height: 150px;
    padding: 5px;
}

#header2 h1 {
    width: 20%;
    float: left;
    font-size: 200%;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
    margin-top: 15px;
    margin-left: 2%;
}

#header2 #menu {
    width: 70%;
    margin-top: 60px;
    float: right;
    margin-right: 50px;
}

h1 {
    font-family: sans-serif;
    margin: 0;
    vertical-align: middle;
    color: aliceblue;
    text-shadow: 1px 1px 10px black;
}

header h4 {
    font-family: sans-serif;
    margin: 0;
    text-shadow: 1px 1px 15px black;
}

h3 {
    font-family: sans-serif;
}

::selection {
    color: inherit !important;
    background: inherit !important;
}

#nav {
    padding: 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav>ul>li {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .7);
    border-bottom: 3px solid darkorange;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#nav>ul>li:hover {
    border-bottom: 3px solid white;
}

#nav>ul>li>a {
    display: block;
    padding: 5px 0px;
}

#nav ul li ul a {
    transition: .5s;
    display: block;
    padding: 5px 0px;
}

#nav>ul>li:hover>a,
#nav ul li ul li:hover a {
    background: rgba(0, 0, 0, .4);
}

#nav>ul>li ul {
    display: none;
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, .9);
    width: 17.3%;
    margin-top: 3px;
}


/*#nav>ul>li:hover ul {
    display: block;
}*/

#nav li a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

div {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

#toggleDiapo {
    font-size: 25px;
    padding: 4px 8px;
    background: rgb(50, 50, 200);
    color: white;
    display: inline-block;
    border-radius: 5px;
    transform: scale(1);
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
}

#toggleDiapo:hover {
    background: rgb(30, 0, 160);
    transform: scale(1.1);
}

#count {
    text-align: center;
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#diapo {
    width: 100%;
    height: 150px;
    position: relative;
}

.button {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

.button:hover {
    color: white;
    border-color: transparent;
    transform: scale(1.1);
}

#prev,
#next {
    color: white;
    padding: 1%;
    margin-left: 35px;
    margin-right: 35px;
}

#prev:hover,
#next:hover {
    transform: scale(1.3);
}

#image {
    display: inline-block;
    width: 90%;
    box-shadow: 5px 5px 10px black;
}

section {
    padding: 1px 20px;
    width: 100%;
    clear: both;
}

section h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 200%;
    letter-spacing: .5em;
}

section p {
    font-family: sans-serif;
    line-height: 1.5em;
}

footer {
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
}

hr {
    border: 0;
    text-align: center;
}

hr:after {
    content: "\273D \273D \273D";
}

#pb {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pr img {
    width: 63.5%;
}

#pr video {
    width: 15%;
    margin-left: 10%;
}

#mat img {
    width: 70px;
}

#lastpict {
    margin-left: 18.25%;
}