body {
    margin: 0;
    padding: 0;
    background: white;
}

header {
    background: url("bleu05.jpg");
    background-size: cover;
}

h1 {
    font-family: sans-serif;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}

h3 {
    font-family: sans-serif;
}

::selection {
    color: inherit !important;
    background: inherit !important;
}

#nav {
    padding: 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav>ul>li {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    background: darkblue;
    color: white;
    cursor: pointer;
}

#nav>ul>li>a {
    display: block;
    padding: 5px 0px;
}

#nav>ul>li:hover>a,
#nav ul li ul li:hover {
    background: midnightblue;
}

#nav>ul>li ul {
    display: none;
    position: absolute;
    z-index: 500;
    background: darkblue;
    width: 25%;
}

#nav>ul>li:hover ul {
    display: block;
}

#nav li a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

div {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

#toggleDiapo {
    font-size: 25px;
    padding: 4px 8px;
    background: rgb(50, 50, 200);
    color: white;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

#toggleDiapo:hover {
    background: rgb(30, 0, 160);
}

#count {
    text-align: center;
    position: relative;
}

#diapo {
    width: 100%;
    height: 150px;
    position: relative;
}

.button {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

.button:hover {
    color: white;
    border-color: transparent;
}

#prev,
#next {
    width: 8%;
    height: 8%;
    color: black;
    position: relative;
    padding: 1%;
    margin-left: 20px;
    margin-right: 20px;
}

#prev:hover,
#next:hover {
    transform: scale(1.3);
}

#image {
    display: inline-block;
    width: 20%;
}

section {
    padding: 1px 20px;
    width: 100%;
    clear: both;
}

section h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 200%;
    letter-spacing: .5em;
}

section p {
    font-family: sans-serif;
}

footer {
    font-family: sans-serif;
    padding: 10px;
}

#pb {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}